//以下内容样式可自定义添加，但不可修改已有的，代码需压缩
//纵横比
.t-aspect-auto{aspect-ratio:auto}
.t-aspect-square{aspect-ratio:1 / 1}
.t-aspect-video{aspect-ratio:16 / 9}
//容器
.t-container{width:100%}
.t-container-sm{max-width:42.667rem}
.t-container-md{max-width:51.2rem}
.t-container-lg{max-width:68.267rem}
.t-container-xl{max-width:85.334rem}
.t-container-2xl{max-width:102.4rem}
//列
.t-columns-1{columns:1}
.t-columns-2{columns:2}
.t-columns-3{columns:3}
.t-columns-4{columns:4}
.t-columns-5{columns:5}
.t-columns-6{columns:6}
.t-columns-7{columns:7}
.t-columns-8{columns:8}
.t-columns-9{columns:9}
.t-columns-10{columns:10}
.t-columns-11{columns:11}
.t-columns-12{columns:12}
.t-columns-auto{columns:auto}
.t-columns-3xs{columns:16rem}
.t-columns-2xs{columns:18rem}
.t-columns-xs{columns:20rem}
.t-columns-sm{columns:24rem}
.t-columns-md{columns:28rem}
.t-columns-lg{columns:32rem}
.t-columns-xl{columns:36rem}
.t-columns-2xl{columns:42rem}
.t-columns-3xl{columns:48rem}
.t-columns-4xl{columns:56rem}
.t-columns-5xl{columns:64rem}
.t-columns-6xl{columns:72rem}
.t-columns-7xl{columns:80rem}
//盒尺寸
.t-box-border{box-sizing:border-box;-webkit-box-sizing:border-box;}
.t-box-content{box-sizing:content-box;-webkit-box-sizing:content-box;}
//展示
.t-block{display:block}
.t-inline-block{display:inline-block}
.t-inline{display:inline}
.t-flex{display:flex}
.t-inline-flex{display:inline-flex}
.t-table{display:table}
.t-inline-table{display:inline-table}
.t-table-caption{display:table-caption}
.t-table-cell{display:table-cell}
.t-table-column{display:table-column}
.t-table-column-group{display:table-column-group}
.t-table-footer-group{display:table-footer-group}
.t-table-header-group{display:table-header-group}
.t-table-row-group{display:table-row-group}
.t-table-row{display:table-row}
.t-flow-root{display:flow-root}
.t-grid{display:grid}
.t-inline-grid{display:inline-grid}
.t-contents{display:contents}
.t-list-item{display:list-item}
.t-hidden{display:none}
//浮动
.t-float-start{float:inline-start}
.t-float-end{float:inline-end}
.t-float-right{float:right}
.t-float-left{float:left}
.t-float-none{float:none}
//清除
.t-clear-start{clear:inline-start}
.t-clear-end{clear:inline-end}
.t-clear-left{clear:left}
.t-clear-right{clear:right}
.t-clear-both{clear:both}
.t-clear-none{clear:none}
//对象适合
.t-object-contain{object-fit:contain}
.t-object-cover{object-fit:cover}
.t-object-fill{object-fit:fill}
.t-object-none{object-fit:none}
.t-object-scale-down{object-fit:scale-down}
//对象位置
.t-object-bottom{object-position:bottom}
.t-object-center{object-position:center}
.t-object-left{object-position:left}
.t-object-left-bottom{object-position:left bottom}
.t-object-left-top{object-position:left top}
.t-object-right{object-position:right}
.t-object-right-bottom{object-position:right bottom}
.t-object-right-top{object-position:right top}
.t-object-top{object-position:top}
//溢出
.t-overflow-auto{overflow:auto}
.t-overflow-hidden{overflow:hidden}
.t-overflow-clip{overflow:clip}
.t-overflow-visible{overflow:visible}
.t-overflow-scroll{overflow:scroll}
.t-overflow-x-auto{overflow-x:auto}
.t-overflow-y-auto{overflow-y:auto}
.t-overflow-x-hidden{overflow-x:hidden}
.t-overflow-y-hidden{overflow-y:hidden}
.t-overflow-x-clip{overflow-x:clip}
.t-overflow-y-clip{overflow-y:clip}
.t-overflow-x-visible{overflow-x:visible}
.t-overflow-y-visible{overflow-y:visible}
.t-overflow-x-scroll{overflow-x:scroll}
.t-overflow-y-scroll{overflow-y:scroll}
//过度滚动行为
.t-overscroll-auto{overscroll-behavior:auto}
.t-overscroll-contain{overscroll-behavior:contain}
.t-overscroll-none{overscroll-behavior:none}
.t-overscroll-y-auto{overscroll-behavior-y:auto}
.t-overscroll-y-contain{overscroll-behavior-y:contain}
.t-overscroll-y-none{overscroll-behavior-y:none}
.t-overscroll-x-auto{overscroll-behavior-x:auto}
.t-overscroll-x-contain{overscroll-behavior-x:contain}
.t-overscroll-x-none{overscroll-behavior-x:none}
//位置
.t-static{position:static}
.t-fixed{position:fixed}
.t-absolute{position:absolute}
.t-relative{position:relative}
.t-sticky{position:sticky}
//方向--上/右/下/左
//上
.t-top-auto{top:auto}
.t-top-1-2{top:50%}
.t-top-1-3{top:33.333333%}
.t-top-2-3{top:66.666667%}
.t-top-1-4{top:25%}
.t-top-2-4{top:50%}
.t-top-3-4{top:75%}
.t-top-full{top:100%}
//右
.t-right-auto{right:auto}
.t-right-1-2{right:50%}
.t-right-1-3{right:33.333333%}
.t-right-2-3{right:66.666667%}
.t-right-1-4{right:25%}
.t-right-2-4{right:50%}
.t-right-3-4{right:75%}
.t-right-full{right:100%}
//下
.t-bottom-auto{bottom:auto}
.t-bottom-1-2{bottom:50%}
.t-bottom-1-3{bottom:33.333333%}
.t-bottom-2-3{bottom:66.666667%}
.t-bottom-1-4{bottom:25%}
.t-bottom-2-4{bottom:50%}
.t-bottom-3-4{bottom:75%}
.t-bottom-full{bottom:100%}
//左
.t-left-auto{left:auto}
.t-left-1-2{left:50%}
.t-left-1-3{left:33.333333%}
.t-left-2-3{left:66.666667%}
.t-left-1-4{left:25%}
.t-left-2-4{left:50%}
.t-left-3-4{left:75%}
.t-left-full{left:100%}
//可见性
.t-visible{visibility:visible}
.t-invisible{visibility:hidden}
.t-collapse{visibility:collapse}
//Z 索引,js写法，t-z-[xx]
.t-z-0{z-index:0}
.t-z-1{z-index:1}
.t-z-2{z-index:2}
.t-z-3{z-index:3}
.t-z-4{z-index:4}
.t-z-5{z-index:5}
.t-z-6{z-index:6}
.t-z-7{z-index:7}
.t-z-8{z-index:8}
.t-z-9{z-index:9}
.t-z-10{z-index:10}
.t-z-20{z-index:20}
.t-z-30{z-index:30}
.t-z-40{z-index:40}
.t-z-50{z-index:50}
.t-z-100{z-index:100}
.t-z-999{z-index:999}
.t-z-1000{z-index:1000}
.t-z-auto{z-index:auto}
//弹性基础
.t-basis-0{flex-basis:0px}
.t-basis-1{flex-basis:0.25rem}
.t-basis-2{flex-basis:0.5rem}
.t-basis-3{flex-basis:0.75rem}
.t-basis-4{flex-basis:1rem}
.t-basis-5{flex-basis:1.25rem}
.t-basis-6{flex-basis:1.5rem}
.t-basis-7{flex-basis:1.75rem}
.t-basis-8{flex-basis:2rem}
.t-basis-9{flex-basis:2.25rem}
.t-basis-10{flex-basis:2.5rem}
.t-basis-11{flex-basis:2.75rem}
.t-basis-12{flex-basis:3rem}
.t-basis-14{flex-basis:3.5rem}
.t-basis-16{flex-basis:4rem}
.t-basis-20{flex-basis:5rem}
.t-basis-24{flex-basis:6rem}
.t-basis-28{flex-basis:7rem}
.t-basis-32{flex-basis:8rem}
.t-basis-36{flex-basis:9rem}
.t-basis-40{flex-basis:10rem}
.t-basis-44{flex-basis:11rem}
.t-basis-48{flex-basis:12rem}
.t-basis-52{flex-basis:13rem}
.t-basis-56{flex-basis:14rem}
.t-basis-60{flex-basis:15rem}
.t-basis-64{flex-basis:16rem}
.t-basis-72{flex-basis:18rem}
.t-basis-80{flex-basis:20rem}
.t-basis-96{flex-basis:24rem}
.t-basis-auto{flex-basis:auto}
.t-basis-px{flex-basis:1px}
.t-basis-0_5{flex-basis:0.125rem}
.t-basis-1_5{flex-basis:0.375rem}
.t-basis-2_5{flex-basis:0.625rem}
.t-basis-3_5{flex-basis:0.875rem}
.t-basis-1-2{flex-basis:50%}
.t-basis-1-3{flex-basis:33.333333%}
.t-basis-2-3{flex-basis:66.666667%}
.t-basis-1-4{flex-basis:25%}
.t-basis-2-4{flex-basis:50%}
.t-basis-3-4{flex-basis:75%}
.t-basis-1-5{flex-basis:20%}
.t-basis-2-5{flex-basis:40%}
.t-basis-3-5{flex-basis:60%}
.t-basis-4-5{flex-basis:80%}
.t-basis-1-6{flex-basis:16.666667%}
.t-basis-2-6{flex-basis:33.333333%}
.t-basis-3-6{flex-basis:50%}
.t-basis-4-6{flex-basis:66.666667%}
.t-basis-5-6{flex-basis:83.333333%}
.t-basis-1-12{flex-basis:8.333333%}
.t-basis-2-12{flex-basis:16.666667%}
.t-basis-3-12{flex-basis:25%}
.t-basis-4-12{flex-basis:33.333333%}
.t-basis-5-12{flex-basis:41.666667%}
.t-basis-6-12{flex-basis:50%}
.t-basis-7-12{flex-basis:58.333333%}
.t-basis-8-12{flex-basis:66.666667%}
.t-basis-9-12{flex-basis:75%}
.t-basis-10-12{flex-basis:83.333333%}
.t-basis-11-12{flex-basis:91.666667%}
.t-basis-full{flex-basis:100%}
//弹性方向
.t-flex-row{flex-direction:row}
.t-flex-row-reverse{flex-direction:row-reverse}
.t-flex-col{flex-direction:column}
.t-flex-col-reverse{flex-direction:column-reverse}
//弹性换行
.t-flex-wrap{flex-wrap:wrap}
.t-flex-wrap-reverse{flex-wrap:wrap-reverse}
.t-flex-nowrap{flex-wrap:nowrap}
//弹性
.t-flex-1{flex:1 1 0%}
.t-flex-auto{flex:1 1 auto}
.t-flex-initial{flex:0 1 auto}
.t-flex-none{flex:none}
//弹性增长
.t-grow{flex-grow:1}
.t-grow-0{flex-grow:0}
//弹性收缩
.t-shrink{flex-shrink:1}
.t-shrink-0{flex-shrink:0}
//排序
.t-order-1{order:1}
.t-order-2{order:2}
.t-order-3{order:3}
.t-order-4{order:4}
.t-order-5{order:5}
.t-order-6{order:6}
.t-order-7{order:7}
.t-order-8{order:8}
.t-order-9{order:9}
.t-order-10{order:10}
.t-order-11{order:11}
.t-order-12{order:12}
.t-order-first{order:-9999}
.t-order-last{order:9999}
.t-order-none{order:0}
//网格未添加
//缺口未添加

//纵向对齐内容
.t-justify-normal{justify-content:normal}
.t-justify-start{justify-content:flex-start}
.t-justify-end{justify-content:flex-end}
.t-justify-center{justify-content:center}
.t-justify-between{justify-content:space-between}
.t-justify-around{justify-content:space-around}
.t-justify-evenly{justify-content:space-evenly}
.t-justify-stretch{justify-content:stretch}
//纵向对齐条目
.t-justify-items-start{justify-items:start}
.t-justify-items-end{justify-items:end}
.t-justify-items-center{justify-items:center}
.t-justify-items-stretch{justify-items:stretch}
//纵向对齐自身
.t-justify-self-auto{justify-self:auto}
.t-justify-self-start{justify-self:start}
.t-justify-self-end{justify-self:end}
.t-justify-self-center{justify-self:center}
.t-justify-self-stretch{justify-self:stretch}
//横向对齐内容
.t-content-normal{align-content:normal}
.t-content-center{align-content:center}
.t-content-start{align-content:flex-start}
.t-content-end{align-content:flex-end}
.t-content-between{align-content:space-between}
.t-content-around{align-content:space-around}
.t-content-evenly{align-content:space-evenly}
.t-content-baseline{align-content:baseline}
.t-content-stretch{align-content:stretch}
//横向对齐条目
.t-items-start{align-items:flex-start}
.t-items-end{align-items:flex-end}
.t-items-center{align-items:center}
.t-items-baseline{align-items:baseline}
.t-items-stretch{align-items:stretch}
//横向对齐自身
.t-self-auto{align-self:auto}
.t-self-start{align-self:flex-start}
.t-self-end{align-self:flex-end}
.t-self-center{align-self:center}
.t-self-stretch{align-self:stretch}
.t-self-baseline{align-self:baseline}
//放置内容未添加
//放置条目未添加
//放置自身未添加

//内边距，参考js，
//t-p-[?px]代表左右上下内边距自定义?像素
//t-px-[?px]代表左右内边距自定义?像素
//t-py-[?px]代表上下内边距自定义?像素
//t-pl-[?px]代表左内边距自定义?像素
//t-pr-[?px]代表右内边距自定义?像素
//t-pt-[?px]代表上内边距自定义?像素
//t-pb-[?px]代表下内边距自定义?像素

//外边距，参考js，
//t-m-[?px]代表左右上下外边距自定义?像素
//t-mx-[?px]代表左右外边距自定义?像素
//t-my-[?px]代表上下外边距自定义?像素
//t-ml-[?px]代表左外边距自定义?像素
//t-mr-[?px]代表右外边距自定义?像素
//t-mt-[?px]代表上外边距自定义?像素
//t-mb-[?px]代表下外边距自定义?像素

//宽度，参考js
//t-w-[?px]代表宽度自定义?像素
.t-w-auto{width:auto}
.t-w-1-2{width:50%}
.t-w-1-3{width:33.333333%}
.t-w-2-3{width:66.666667%}
.t-w-1-4{width:25%}
.t-w-2-4{width:50%}
.t-w-3-4{width:75%}
.t-w-1-5{width:20%}
.t-w-2-5{width:40%}
.t-w-3-5{width:60%}
.t-w-4-5{width:80%}
.t-w-1-6{width:16.666667%}
.t-w-2-6{width:33.333333%}
.t-w-3-6{width:50%}
.t-w-4-6{width:66.666667%}
.t-w-5-6{width:83.333333%}
.t-w-1-12{width:8.333333%}
.t-w-2-12{width:16.666667%}
.t-w-3-12{width:25%}
.t-w-4-12{width:33.333333%}
.t-w-5-12{width:41.666667%}
.t-w-6-12{width:50%}
.t-w-7-12{width:58.333333%}
.t-w-8-12{width:66.666667%}
.t-w-9-12{width:75%}
.t-w-10-12{width:83.333333%}
.t-w-11-12{width:91.666667%}
.t-w-full{width:100%}
.t-w-screen{width:100vw}
.t-w-svw{width:100svw}
.t-w-lvw{width:100lvw}
.t-w-dvw{width:100dvw}
.t-w-min{width:min-content}
.t-w-max{width:max-content}
.t-w-fit{width:fit-content}
//最小宽度
.t-min-w-full{min-width:100%}
.t-min-w-min{min-width:min-content}
.t-min-w-max{min-width:max-content}
.t-min-w-fit{min-width:fit-content}
//最大宽度
.t-max-w-full{max-width:100%}
.t-max-w-min{max-width:min-content}
.t-max-w-max{max-width:max-content}
.t-max-w-fit{max-width:fit-content}
//高度
.t-h-auto{height:auto}
.t-h-1-2{height:50%}
.t-h-1-3{height:33.333333%}
.t-h-2-3{height:66.666667%}
.t-h-1-4{height:25%}
.t-h-2-4{height:50%}
.t-h-3-4{height:75%}
.t-h-1-5{height:20%}
.t-h-2-5{height:40%}
.t-h-3-5{height:60%}
.t-h-4-5{height:80%}
.t-h-1-6{height:16.666667%}
.t-h-2-6{height:33.333333%}
.t-h-3-6{height:50%}
.t-h-4-6{height:66.666667%}
.t-h-5-6{height:83.333333%}
.t-h-full{height:100%}
.t-h-screen{height:100vh}
.t-h-svh{height:100svh}
.t-h-lvh{height:100lvh}
.t-h-dvh{height:100dvh}
.t-h-min{height:min-content}
.t-h-max{height:max-content}
.t-h-fit{height:fit-content}
//最小高度
.t-min-h-full{min-height:100%}
.t-min-h-screen{min-height:100vh}
.t-min-h-svh{min-height:100svh}
.t-min-h-lvh{min-height:100lvh}
.t-min-h-dvh{min-height:100dvh}
.t-min-h-min{min-height:min-content}
.t-min-h-max{min-height:max-content}
.t-min-h-fit{min-height:fit-content}
//最大高度
.t-max-h-none{max-height:none}
.t-max-h-full{max-height:100%}
.t-max-h-screen{max-height:100vh}
.t-max-h-svh{max-height:100svh}
.t-max-h-lvh{max-height:100lvh}
.t-max-h-dvh{max-height:100dvh}
.t-max-h-min{max-height:min-content}
.t-max-h-max{max-height:max-content}
.t-max-h-fit{max-height:fit-content}
//字体大小，参考js
//t-text-[?px]代表字体大小自定义?像素

//字体样式
.t-italic{font-style:italic}
.t-not-italic{font-style:normal}
//字体重量
.t-font-thin{font-weight:100}
.t-font-extralight{font-weight:200}
.t-font-light{font-weight:300}
.t-font-normal{font-weight:400}
.t-font-medium{font-weight:500}
.t-font-semibold{font-weight:600}
.t-font-bold{font-weight:700}
.t-font-extrabold{font-weight:800}
.t-font-black{font-weight:900}
//字母间距
.t-tracking-tighter{letter-spacing:-0.05em}
.t-tracking-tight{letter-spacing:-0.025em}
.t-tracking-normal{letter-spacing:0em}
.t-tracking-wide{letter-spacing:0.025em}
.t-tracking-wider{letter-spacing:0.05em}
.t-tracking-widest{letter-spacing:0.1em}
//行夹,用于将文本限制在特定行数的工具。
.t-line-clamp-1{overflow:hidden;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:1}
.t-line-clamp-2{overflow:hidden;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:2}
.t-line-clamp-3{overflow:hidden;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:3}
.t-line-clamp-4{overflow:hidden;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:4}
.t-line-clamp-5{overflow:hidden;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:5}
.t-line-clamp-6{overflow:hidden;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:6}
.t-line-clamp-none{overflow:visible;display:block;-webkit-box-orient:horizontal;-webkit-line-clamp:none}
//行高，参考js
//t-leading-[?px]代表行高自定义?像素

//文本对齐
.t-text-left{text-align:left}
.t-text-center{text-align:center}
.t-text-right{text-align:right}
.t-text-justify{text-align:justify}
.t-text-start{text-align:start}
.t-text-end{text-align:end}
//文本颜色，参考js
//t-text-color-[#000]代表文本颜色自定义

//文本修饰
.t-underline{text-decoration-line:underline}
.t-overline{text-decoration-line:overline}
.t-line-through{text-decoration-line:line-through}
.t-no-underline{text-decoration-line:none}
//文本转换
.t-uppercase{text-transform:uppercase}
.t-lowercase{text-transform:lowercase}
.t-capitalize{text-transform:capitalize}
.t-normal-case{text-transform:none}
//文本溢出
.t-truncate{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.t-text-ellipsis{text-overflow:ellipsis}
.t-text-clip{text-overflow:clip}
//文本换行
.t-text-wrap{text-wrap:wrap}
.t-text-nowrap{text-wrap:nowrap}
.t-text-balance{text-wrap:balance}
.t-text-pretty{text-wrap:pretty}
//文本缩进，参考js
//t-indent-[?px]代表文本缩进自定义?像素

//垂直对齐
.t-align-baseline{vertical-align:baseline}
.t-align-top{vertical-align:top}
.t-align-middle{vertical-align:middle}
.t-align-bottom{vertical-align:bottom}
.t-align-text-top{vertical-align:text-top}
.t-align-text-bottom{vertical-align:text-bottom}
.t-align-sub{vertical-align:sub}
.t-align-super{vertical-align:super}
//空格,用于控制元素的空白属性的工具。
.t-whitespace-normal{white-space:normal}
.t-whitespace-nowrap{white-space:nowrap}
.t-whitespace-pre{white-space:pre}
.t-whitespace-pre-line{white-space:pre-line}
.t-whitespace-pre-wrap{white-space:pre-wrap}
.t-whitespace-break-spaces{white-space:break-spaces}
//分词
.t-break-normal{overflow-wrap:normal;word-break:normal}
.t-break-words{overflow-wrap:break-word}
.t-.t-break-all{word-break:break-all}
.t-break-keep{word-break:keep-all}
//背景附件
.t-bg-fixed{background-attachment:fixed}
.t-bg-local{background-attachment:local}
.t-bg-scroll{background-attachment:scroll}
//背景剪辑
.t-bg-clip-border{background-clip:border-box}
.t-bg-clip-padding{background-clip:padding-box}
.t-bg-clip-content{background-clip:content-box}
.t-bg-clip-text{background-clip:text}
//背景颜色不添加，需自己写

//背景来源
.t-bg-origin-border{background-origin:border-box}
.t-bg-origin-padding{background-origin:padding-box}
.t-bg-origin-content{background-origin:content-box}
//背景位置
.t-bg-bottom{background-position:bottom}
.t-bg-center{background-position:center}
.t-bg-left{background-position:left}
.t-bg-left-bottom{background-position:left bottom}
.t-bg-left-top{background-position:left top}
.t-bg-right{background-position:right}
.t-bg-right-bottom{background-position:right bottom}
.t-bg-right-top{background-position:right top}
.t-bg-top{background-position:top}
//背景重复
.t-bg-repeat{background-repeat:repeat}
.t-bg-no-repeat{background-repeat:no-repeat}
.t-bg-repeat-x{background-repeat:repeat-x}
.t-bg-repeat-y{background-repeat:repeat-y}
.t-bg-repeat-round{background-repeat:round}
.t-bg-repeat-space{background-repeat:space}
//背景尺寸，有不同需自己写
.t-bg-auto{background-size:100% auto}
.t-bg-cover{background-size:cover}
.t-bg-contain{background-size:contain}
//背景图片自己写
//背景渐变颜色自己写
//宽度、颜色自己写

//边框样式
.t-border{border:.067rem solid #000}
.t-border-solid{border-style:solid}
.t-border-dashed{border-style:dashed}
.t-border-dotted{border-style:dotted}
.t-border-double{border-style:double}
.t-border-hidden{border-style:hidden}
.t-border-none{border-style:none}
//边框圆角,可自定义，t-rounded-[?px]
.t-rounded-none{border-radius: 0px;}
.t-rounded-sm{border-radius: 0.125rem;}
.t-rounded{border-radius: 0.25rem;}
.t-rounded-md{border-radius: 0.375rem;}
.t-rounded-lg{border-radius: 0.5rem;}
.t-rounded-xl{border-radius: 0.75rem;}
.t-rounded-2xl{border-radius: 1rem;}
.t-rounded-3xl{border-radius: 1.5rem;}
.t-rounded-full{border-radius: 9999px;}
//边框自定义上下左右圆角
//t-rounded-t-[?px] 上圆角 border-top-left-radius: ?;border-top-right-radius: ?;
//t-rounded-b-[?px] 下圆角 border-bottom-left-radius: ?;border-bottom-right-radius: ?;
//t-rounded-l-[?px] 左圆角 border-top-left-radius: ?;border-bottom-left-radius: ?;
//t-rounded-r-[?px] 右圆角 border-top-right-radius: ?;border-bottom-right-radius: ?;
//边框宽度,可自定义，t-border-w-[?px]
.t-border-w-0{border-width: 0px;}
.t-border-w-2{border-width: 2px;}
.t-border-w-4{border-width: 4px;}
.t-border-w-8{border-width: 8px;}
.t-border-w{border-width: 1px;}
//边框颜色，可自定义颜色,t-border-color-[?]
.t-border-inherit{border-color: inherit;}
.t-border-current{border-color: currentColor;}
.t-border-transparent{border-color: transparent;}
.t-border-black{border-color: rgba(0,0,0,1);}
.t-border-white{border-color: rgba(255, 255, 255,1);}
//盒阴影或自己写
.t-shadow-sm{box-shadow:0 1px 2px 0 rgba(0,0,0,0.05)}
.t-shadow{box-shadow:0 1px 3px 0 rgba(0,0,0,0.1),0 1px 2px -1px rgba(0,0,0,0.1)}
.t-shadow-md{box-shadow:0 4px 6px -1px rgba(0,0,0,0.1),0 2px 4px -2px rgba(0,0,0,0.1)}
.t-shadow-lg{box-shadow:0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -4px rgba(0,0,0,0.1)}
.t-shadow-xl{box-shadow:0 20px 25px -5px rgba(0,0,0,0.1),0 8px 10px -6px rgba(0,0,0,0.1)}
.t-shadow-2xl{box-shadow:0 25px 50px -12px rgba(0,0,0,0.25)}
.t-shadow-inner{box-shadow:inset 0 2px 4px 0 rgba(0,0,0,0.05)}
.t-shadow-none{box-shadow:0 0 #0000}
//盒阴影颜色自己写

//透明度
.t-opacity-0{opacity:0}
.t-opacity-5{opacity:0.05}
.t-opacity-10{opacity:0.1}
.t-opacity-15{opacity:0.15}
.t-opacity-20{opacity:0.2}
.t-opacity-25{opacity:0.25}
.t-opacity-30{opacity:0.3}
.t-opacity-35{opacity:0.35}
.t-opacity-40{opacity:0.4}
.t-opacity-45{opacity:0.45}
.t-opacity-50{opacity:0.5}
.t-opacity-55{opacity:0.55}
.t-opacity-60{opacity:0.6}
.t-opacity-65{opacity:0.65}
.t-opacity-70{opacity:0.7}
.t-opacity-75{opacity:0.75}
.t-opacity-80{opacity:0.8}
.t-opacity-85{opacity:0.85}
.t-opacity-90{opacity:0.9}
.t-opacity-95{opacity:0.95}
.t-opacity-100{opacity:1}
//模糊
.t-blur-none{filter:none}
.t-blur-sm{filter:blur(4px)}
.t-blur{filter:blur(8px)}
.t-blur-md{filter:blur(12px)}
.t-blur-lg{filter:blur(16px)}
.t-blur-xl{filter:blur(24px)}
.t-blur-2xl{filter:blur(40px)}
.t-blur-3xl{filter:blur(64px)}
//背景模糊
.t-backdrop-blur-none{backdrop-filter:none}
.t-backdrop-blur-sm{backdrop-filter:blur(4px)}
.t-backdrop-blur{backdrop-filter:blur(8px)}
.t-backdrop-blur-md{backdrop-filter:blur(12px)}
.t-backdrop-blur-lg{backdrop-filter:blur(16px)}
.t-backdrop-blur-xl{backdrop-filter:blur(24px)}
.t-backdrop-blur-2xl{backdrop-filter:blur(40px)}
.t-backdrop-blur-3xl{backdrop-filter:blur(64px)}
//模糊背景透明度
.t-backdrop-opacity-0{backdrop-filter:opacity(0)}
.t-backdrop-opacity-5{backdrop-filter:opacity(0.05)}
.t-backdrop-opacity-10{backdrop-filter:opacity(0.1)}
.t-backdrop-opacity-15{backdrop-filter:opacity(0.15)}
.t-backdrop-opacity-20{backdrop-filter:opacity(0.2)}
.t-backdrop-opacity-25{backdrop-filter:opacity(0.25)}
.t-backdrop-opacity-30{backdrop-filter:opacity(0.3)}
.t-backdrop-opacity-35{backdrop-filter:opacity(0.35)}
.t-backdrop-opacity-40{backdrop-filter:opacity(0.4)}
.t-backdrop-opacity-45{backdrop-filter:opacity(0.45)}
.t-backdrop-opacity-50{backdrop-filter:opacity(0.5)}
.t-backdrop-opacity-55{backdrop-filter:opacity(0.55)}
.t-backdrop-opacity-60{backdrop-filter:opacity(0.6)}
.t-backdrop-opacity-65{backdrop-filter:opacity(0.65)}
.t-backdrop-opacity-70{backdrop-filter:opacity(0.7)}
.t-backdrop-opacity-75{backdrop-filter:opacity(0.75)}
.t-backdrop-opacity-80{backdrop-filter:opacity(0.8)}
.t-backdrop-opacity-85{backdrop-filter:opacity(0.85)}
.t-backdrop-opacity-90{backdrop-filter:opacity(0.9)}
.t-backdrop-opacity-95{backdrop-filter:opacity(0.95)}
.t-backdrop-opacity-100{backdrop-filter:opacity(1)}
//转场属性,transition，自己写

//缩放
.t-scale-0{transform:scale(0)}
.t-scale-x-0{transform:scaleX(0)}
.t-scale-y-0{transform:scaleY(0)}
.t-scale-50{transform:scale(.5)}
.t-scale-x-50{transform:scaleX(.5)}
.t-scale-y-50{transform:scaleY(.5)}
.t-scale-75{transform:scale(.75)}
.t-scale-x-75{transform:scaleX(.75)}
.t-scale-y-75{transform:scaleY(.75)}
.t-scale-90{transform:scale(.9)}
.t-scale-x-90{transform:scaleX(.9)}
.t-scale-y-90{transform:scaleY(.9)}
.t-scale-95{transform:scale(.95)}
.t-scale-x-95{transform:scaleX(.95)}
.t-scale-y-95{transform:scaleY(.95)}
.t-scale-100{transform:scale(1)}
.t-scale-x-100{transform:scaleX(1)}
.t-scale-y-100{transform:scaleY(1)}
.t-scale-105{transform:scale(1.05)}
.t-scale-x-105{transform:scaleX(1.05)}
.t-scale-y-105{transform:scaleY(1.05)}
.t-scale-110{transform:scale(1.1)}
.t-scale-x-110{transform:scaleX(1.1)}
.t-scale-y-110{transform:scaleY(1.1)}
.t-scale-125{transform:scale(1.25)}
.t-scale-x-125{transform:scaleX(1.25)}
.t-scale-y-125{transform:scaleY(1.25)}
.t-scale-150{transform:scale(1.5)}
.t-scale-x-150{transform:scaleX(1.5)}
.t-scale-y-150{transform:scaleY(1.5)}
//旋转
.t-rotate-0{transform:rotate(0deg)}
.t-rotate-1{transform:rotate(1deg)}
.t-rotate-2{transform:rotate(2deg)}
.t-rotate-3{transform:rotate(3deg)}
.t-rotate-6{transform:rotate(6deg)}
.t-rotate-12{transform:rotate(12deg)}
.t-rotate-45{transform:rotate(45deg)}
.t-rotate-90{transform:rotate(90deg)}
.t-rotate-180{transform:rotate(180deg)}
//转变
.t-translate-x-1-2{transform:translateX(50%)}
.t-translate-x-1-3{transform:translateX(33.333333%)}
.t-translate-x-2-3{transform:translateX(66.666667%)}
.t-translate-x-1-4{transform:translateX(25%)}
.t-translate-x-2-4{transform:translateX(50%)}
.t-translate-x-3-4{transform:translateX(75%)}
.t-translate-x-full{transform:translateX(100%)}
.t-translate-y-1-2{transform:translateY(50%)}
.t-translate-y-1-3{transform:translateY(33.333333%)}
.t-translate-y-2-3{transform:translateY(66.666667%)}
.t-translate-y-1-4{transform:translateY(25%)}
.t-translate-y-2-4{transform:translateY(50%)}
.t-translate-y-3-4{transform:translateY(75%)}
//倾斜
.t-skew-x-0{transform:skewX(0deg)}
.t-skew-y-0{transform:skewY(0deg)}
.t-skew-x-1{transform:skewX(1deg)}
.t-skew-y-1{transform:skewY(1deg)}
.t-skew-x-2{transform:skewX(2deg)}
.t-skew-y-2{transform:skewY(2deg)}
.t-skew-x-3{transform:skewX(3deg)}
.t-skew-y-3{transform:skewY(3deg)}
.t-skew-x-6{transform:skewX(6deg)}
.t-skew-y-6{transform:skewY(6deg)}
.t-skew-x-12{transform:skewX(12deg)}
.t-skew-y-12{transform:skewY(12deg)}
//变换原点
.t-origin-center{transform-origin:center}
.t-origin-top{transform-origin:top}
.t-origin-top-right{transform-origin:top right}
.t-origin-right{transform-origin:right}
.t-origin-bottom-right{transform-origin:bottom right}
.t-origin-bottom{transform-origin:bottom}
.t-origin-bottom-left{transform-origin:bottom left}
.t-origin-left{transform-origin:left}
.t-origin-top-left{transform-origin:top left}
//光标
.t-cursor-auto{cursor:auto}
.t-cursor-default{cursor:default}
.t-cursor-pointer{cursor:pointer}
.t-cursor-wait{cursor:wait}
.t-cursor-text{cursor:text}
.t-cursor-move{cursor:move}
.t-cursor-help{cursor:help}
.t-cursor-not-allowed{cursor:not-allowed}
.t-cursor-none{cursor:none}
.t-cursor-context-menu{cursor:context-menu}
.t-cursor-progress{cursor:progress}
.t-cursor-cell{cursor:cell}
.t-cursor-crosshair{cursor:crosshair}
.t-cursor-vertical-text{cursor:vertical-text}
.t-cursor-alias{cursor:alias}
.t-cursor-copy{cursor:copy}
.t-cursor-no-drop{cursor:no-drop}
.t-cursor-grab{cursor:grab}
.t-cursor-grabbing{cursor:grabbing}
.t-cursor-all-scroll{cursor:all-scroll}
.t-cursor-col-resize{cursor:col-resize}
.t-cursor-row-resize{cursor:row-resize}
.t-cursor-n-resize{cursor:n-resize}
.t-cursor-e-resize{cursor:e-resize}
.t-cursor-s-resize{cursor:s-resize}
.t-cursor-w-resize{cursor:w-resize}
.t-cursor-ne-resize{cursor:ne-resize}
.t-cursor-nw-resize{cursor:nw-resize}
.t-cursor-se-resize{cursor:se-resize}
.t-cursor-sw-resize{cursor:sw-resize}
.t-cursor-ew-resize{cursor:ew-resize}
.t-cursor-ns-resize{cursor:ns-resize}
.t-cursor-nesw-resize{cursor:nesw-resize}
.t-cursor-nwse-resize{cursor:nwse-resize}
.t-cursor-zoom-in{cursor:zoom-in}
.t-cursor-zoom-out{cursor:zoom-out}
//指针事件
.t-pointer-events-none{pointer-events:none}
.t-pointer-events-auto{pointer-events:auto}
//调整大小
.t-resize-none{resize:none}
.t-resize-y{resize:vertical}
.t-resize-x{resize:horizontal}
.t-resize{resize:both}
//滚动行为
.t-scroll-auto{scroll-behavior:auto}
.t-scroll-smooth{scroll-behavior:smooth}
//触摸动作
.t-touch-auto{touch-action:auto}
.t-touch-none{touch-action:none}
.t-touch-pan-x{touch-action:pan-x}
.t-touch-pan-left{touch-action:pan-left}
.t-touch-pan-right{touch-action:pan-right}
.t-touch-pan-y{touch-action:pan-y}
.t-touch-pan-up{touch-action:pan-up}
.t-touch-pan-down{touch-action:pan-down}
.t-touch-pinch-zoom{touch-action:pinch-zoom}
.t-touch-manipulation{touch-action:manipulation}
//用户选择
.t-select-none{user-select:none}
.t-select-text{user-select:text}
.t-select-all{user-select:all}
.t-select-auto{user-select:auto}
//将会改变,用于优化即将发生变化的元素动画的工具。
.t-will-change-auto{will-change:auto}
.t-will-change-scroll{will-change:scroll-position}
.t-will-change-contents{will-change:contents}
.t-will-change-transform{will-change:transform}
//填充
.t-fill-none{fill:none}
.t-fill-inherit{fill:inherit}
.t-fill-current{fill:currentColor}
.t-fill-transparent{fill:transparent}
.t-fill-black{fill:#000}
.t-fill-white{fill:#fff}